.mbsc-windows.mbsc-datepicker-inline,
.mbsc-windows.mbsc-calendar-slide,
.mbsc-ios.mbsc-datepicker .mbsc-calendar,
.mbsc-ios.mbsc-datepicker .mbsc-calendar-cell,
.mbsc-ios.mbsc-datepicker .mbsc-calendar-slide,
.mbsc-material.mbsc-datepicker-inline,
.mbsc-material.mbsc-datepicker-inline .mbsc-calendar-slide {
  background-color: #ffe9e0;
}
.mbsc-datepicker-inline {
  height: initial;
}
.mbsc-windows.mbsc-calendar-cell {
  border-radius: 4px !important;
}
.mbsc-windows.mbsc-calendar-cell > div:first-child {
  display: 'none';
}
.mbsc-calendar-controls {
  justify-content: space-between;
}
.mbsc-windows.mbsc-calendar-controls {
  padding: 10px 0;
}
.mbsc-material.mbsc-calendar-controls {
  padding: 0;
}
.mbsc-windows.mbsc-calendar-button.mbsc-button,
.mbsc-ios.mbsc-calendar-button.mbsc-button,
.mbsc-material.mbsc-calendar-button.mbsc-button {
  color: #e46125;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.mbsc-ios.mbsc-calendar-week-day,
.mbsc-material.mbsc-calendar-week-day {
  color: #e46125;
  font-weight: 400;
  font-size: 16px;
}
.mbsc-windows.mbsc-icon-button {
  width: 28px;
  height: 28px;
}
.mbsc-calendar-body {
  border: 1px solid #e46125;
  border-radius: 20px;
}
.mbsc-windows.mbsc-calendar-today,
.mbsc-windows.mbsc-calendar-week-nr,
.mbsc-ios.mbsc-datepicker .mbsc-highlighted .mbsc-calendar-day-text,
.mbsc-ios.mbsc-datepicker .mbsc-hover .mbsc-calendar-day-text,
.mbsc-ios.mbsc-datepicker .mbsc-range-hover-end .mbsc-calendar-day-text,
.mbsc-ios.mbsc-datepicker .mbsc-range-hover-start .mbsc-calendar-day-text,
.mbsc-ios.mbsc-datepicker .mbsc-selected .mbsc-calendar-day-text {
  color: #ffffff;
}
.mbsc-selected {
  border-radius: 4px;
  color: #ffffff;
  background: #ff9565;
}
.mbsc-windows.mbsc-range-day .mbsc-calendar-cell-inner,
.mbsc-windows.mbsc-selected .mbsc-calendar-cell-inner {
  background: #ff9565;
  border-radius: 4px !important;
}
.mbsc-calendar-day div:first-child div {
  color: #ffe9e0;
}
.mbsc-datepicker .mbsc-calendar-slide {
  padding: 10px 0.5em 0;
}
.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text,
.mbsc-material.mbsc-selected .mbsc-calendar-cell-text {
  background: #ff9565;
  border-color: #ff9565;
  color: #fff;
}
.mbsc-ios.mbsc-hover .mbsc-calendar-cell-text {
  background: #ff9565;
}
.mbsc-ios.mbsc-calendar-today,
.mbsc-ios.mbsc-calendar-week-nr,
.mbsc-material.mbsc-calendar-today,
.mbsc-material.mbsc-calendar-week-nr {
  color: #ff9565;
}
.mbsc-ios.mbsc-calendar-day-text,
.mbsc-material.mbsc-calendar-cell-text {
  border-radius: 4px;
}
